@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 90vw;
    }

    #login > #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #login > #form {
        float: right;
        width: 60%;
    }

    .campo>label {
        color: white;
        padding: 5px 0 0 3px;
    }

    form > input[type=submit] {
        width: 80%;
    }

    form > .esq {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
        width: 960px;
    }
    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #form {
        float: left;
        width: 50%;
    }

    .campo>label {
        color: white;
        padding: 5px 0 0 3px;
    }

    #form>h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 10px;
    }

    #form>p {
        font-size: 1em;
    }

    form>input[type=submit] {
        width: 80%;
    }

    form>.esq {
        width: 80%;
    }
    
}