@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 600px;
        height: 250px;
    }

    #login > #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    #login > #form {
        float: right;
        width: 60%;
    }
    
    .campo {
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }

    .campo > label {
        color: white;
        padding: 5px 0 0 3px;
    }

    #form > p {
        margin-bottom: 20px;
    }

    form > input[type=submit] {
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }

    form > .esq {
        width: 80%;
        margin:auto
    }

    
    form > .esq:hover {
        background-image: linear-gradient(to right, #63d6d2, #49a09d, #63d6d2);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
        width: 960px;
        height: 300px;
    }
    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #form {
        float: left;
        width: 50%;
    }

    .campo {
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }

    .campo>label {
        color: white;
        padding: 5px 0 0 3px;
    }

    #form>h1 {
        font-size: 2.1em;
        text-align: center;
        margin-bottom: 10px;
    }

    #form>p {
        font-size: 1.1em;
        margin-bottom: 20px;
        text-align: center;
    }

    form>input[type=submit] {
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
    }

    form>.esq {
        width: 80%;
        margin: auto;
    }

    form > .esq:hover {
        background-image: linear-gradient(to right, #63d6d2, #49a09d, #63d6d2);
    }
    
}